[submodule "lib/editor/atto/plugins/cloze"]
	path = lib/editor/atto/plugins/cloze
	url = git@github.com:cborn/moodle-atto_cloze
[submodule "lib/editor/atto/plugins/fontsize"]
	path = lib/editor/atto/plugins/fontsize
	url = git@github.com:cborn/moodle-atto_fontsize
[submodule "lib/editor/atto/plugins/fullscreen"]
	path = lib/editor/atto/plugins/fullscreen
	url = git@github.com:cborn/moodle-atto_fullscreen
[submodule "lib/editor/atto/plugins/hr"]
	path = lib/editor/atto/plugins/hr
	url = git@github.com:cborn/moodle-atto_hr
[submodule "lib/editor/atto/plugins/morebackcolors"]
	path = lib/editor/atto/plugins/morebackcolors
	url = git@github.com:cborn/moodle-atto_morebackcolors
[submodule "lib/editor/atto/plugins/morefontcolors"]
	path = lib/editor/atto/plugins/morefontcolors
	url = git@github.com:cborn/moodle-atto_morefontcolors
[submodule "lib/editor/atto/plugins/ruby"]
	path = lib/editor/atto/plugins/ruby
	url = git@github.com:cborn/moodle-atto_ruby
[submodule "lib/editor/atto/plugins/styles"]
	path = lib/editor/atto/plugins/styles
	url = git@github.com:cborn/moodle-atto_styles
[submodule "auth/saml2"]
	path = auth/saml2
	url = git@github.com:cborn/moodle-auth_saml2
[submodule "availability/condition/relativedate"]
	path = availability/condition/relativedate
	url = git@github.com:cborn/moodle-availability_relativedate
[submodule "availability/condition/stash"]
	path = availability/condition/stash
	url = git@github.com:cborn/moodle-availability_stash
[submodule "availability/condition/xp"]
	path = availability/condition/xp
	url = git@github.com:cborn/moodle-availability_xp
[submodule "blocks/attendance"]
	path = blocks/attendance
	url = git@github.com:cborn/moodle-block_attendance
[submodule "blocks/completion_progress"]
	path = blocks/completion_progress
	url = git@github.com:cborn/moodle-block_completion_progress
[submodule "blocks/special_chars"]
	path = blocks/special_chars
	url = git@github.com:cborn/moodle-block_special_chars
[submodule "blocks/stash"]
	path = blocks/stash
	url = git@github.com:cborn/moodle-block_stash
[submodule "blocks/uicustomcss"]
	path = blocks/uicustomcss
	url = git@github.com:cborn/moodle-block_uicustomcss
[submodule "blocks/xp"]
	path = blocks/xp
	url = git@github.com:cborn/moodle-block_xp
[submodule "mod/book/tool/wordimport"]
	path = mod/book/tool/wordimport
	url = git@github.com:cborn/moodle-booktool_wordimport
[submodule "lib/editor/atto/plugins/chemistry"]
	path = lib/editor/atto/plugins/chemistry
	url = git@github.com:cborn/moodle-editor_atto-chemistry
