[submodule "lib/editor/atto/plugins/cloze"]
	path = lib/editor/atto/plugins/cloze
	url = git@github.com:cborn/moodle-atto_cloze
[submodule "lib/editor/atto/plugins/fontsize"]
	path = lib/editor/atto/plugins/fontsize
	url = git@github.com:cborn/moodle-atto_fontsize
[submodule "lib/editor/atto/plugins/fullscreen"]
	path = lib/editor/atto/plugins/fullscreen
	url = git@github.com:cborn/moodle-atto_fullscreen
[submodule "lib/editor/atto/plugins/hr"]
	path = lib/editor/atto/plugins/hr
	url = git@github.com:cborn/moodle-atto_hr
[submodule "lib/editor/atto/plugins/morebackcolors"]
	path = lib/editor/atto/plugins/morebackcolors
	url = git@github.com:cborn/moodle-atto_morebackcolors
[submodule "lib/editor/atto/plugins/morefontcolors"]
	path = lib/editor/atto/plugins/morefontcolors
	url = git@github.com:cborn/moodle-atto_morefontcolors
[submodule "lib/editor/atto/plugins/ruby"]
	path = lib/editor/atto/plugins/ruby
	url = git@github.com:cborn/moodle-atto_ruby
[submodule "lib/editor/atto/plugins/styles"]
	path = lib/editor/atto/plugins/styles
	url = git@github.com:cborn/moodle-atto_styles
[submodule "auth/saml2"]
	path = auth/saml2
	url = git@github.com:cborn/moodle-auth_saml2
[submodule "availability/condition/relativedate"]
	path = availability/condition/relativedate
	url = git@github.com:cborn/moodle-availability_relativedate
[submodule "availability/condition/stash"]
	path = availability/condition/stash
	url = git@github.com:cborn/moodle-availability_stash
[submodule "availability/condition/xp"]
	path = availability/condition/xp
	url = git@github.com:cborn/moodle-availability_xp
[submodule "blocks/attendance"]
	path = blocks/attendance
	url = git@github.com:cborn/moodle-block_attendance
[submodule "blocks/completion_progress"]
	path = blocks/completion_progress
	url = git@github.com:cborn/moodle-block_completion_progress
[submodule "blocks/special_chars"]
	path = blocks/special_chars
	url = git@github.com:cborn/moodle-block_special_chars
[submodule "blocks/stash"]
	path = blocks/stash
	url = git@github.com:cborn/moodle-block_stash
[submodule "blocks/uicustomcss"]
	path = blocks/uicustomcss
	url = git@github.com:cborn/moodle-block_uicustomcss
[submodule "blocks/xp"]
	path = blocks/xp
	url = git@github.com:cborn/moodle-block_xp
[submodule "mod/book/tool/wordimport"]
	path = mod/book/tool/wordimport
	url = git@github.com:cborn/moodle-booktool_wordimport
[submodule "lib/editor/atto/plugins/chemistry"]
	path = lib/editor/atto/plugins/chemistry
	url = git@github.com:cborn/moodle-editor_atto-chemistry
[submodule "filter/shortcodes"]
	path = filter/shortcodes
	url = git@github.com:cborn/moodle-filter_shortcodes
[submodule "course/format/buttons"]
	path = course/format/buttons
	url = git@github.com:cborn/moodle-format_buttons
[submodule "course/format/flexsections"]
	path = course/format/flexsections
	url = git@github.com:cborn/moodle-format_flexsections
[submodule "course/format/tiles"]
	path = course/format/tiles
	url = git@github.com:cborn/moodle-format_tiles
[submodule "local/metagroups"]
	path = local/metagroups
	url = git@github.com:cborn/moodle-local_metagroups
[submodule "local/mr"]
	path = local/mr
	url = git@github.com:cborn/moodle-local_mr
[submodule "local/userenrols"]
	path = local/userenrols
	url = git@github.com:cborn/moodle-local_userenrols
[submodule "mod/attendance"]
	path = mod/attendance
	url = git@github.com:cborn/moodle-mod_attendance
[submodule "mod/choicegroup"]
	path = mod/choicegroup
	url = git@github.com:cborn/moodle-mod_choicegroup
[submodule "mod/questionnaire"]
	path = mod/questionnaire
	url = git@github.com:cborn/moodle-mod_questionnaire
[submodule "mod/treasurehunt"]
	path = mod/treasurehunt
	url = git@github.com:cborn/moodle-mod_treasurehunt
[submodule "question/behaviour/adaptivemultipart"]
	path = question/behaviour/adaptivemultipart
	url = git@github.com:cborn/moodle-qbehaviour_adaptivemultipart
[submodule "question/behaviour/regexpadaptivewithhelp"]
	path = question/behaviour/regexpadaptivewithhelp
	url = git@github.com:cborn/moodle-qbehaviour_regexpadaptivewithhelp
[submodule "question/behaviour/regexpadaptivewithhelpnopenalty"]
	path = question/behaviour/regexpadaptivewithhelpnopenalty
	url = git@github.com:cborn/moodle-qbehaviour_regexpadaptivewithhelpnopenalty
[submodule "question/format/canvas"]
	path = question/format/canvas
	url = git@github.com:cborn/moodle-qformat_canvas
[submodule "question/format/h5p"]
	path = question/format/h5p
	url = git@github.com:cborn/moodle-qformat_h5p
[submodule "question/format/wordtable"]
	path = question/format/wordtable
	url = git@github.com:cborn/moodle-qformat_wordtable
[submodule "question/type/formulas"]
	path = question/type/formulas
	url = git@github.com:cborn/moodle-qtype_formulas
[submodule "question/type/gapfill"]
	path = question/type/gapfill
	url = git@github.com:cborn/moodle-qtype_gapfill
[submodule "question/type/pmatch"]
	path = question/type/pmatch
	url = git@github.com:cborn/moodle-qtype_pmatch
[submodule "question/type/regexp"]
	path = question/type/regexp
	url = git@github.com:cborn/moodle-qtype_regexp
